/* Styles for the blog posts page */
.post {
    background-color: #f9f9f9;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .post h2 {
    color: #4682B4; /* Tent */
  }
  
  .post p {
    font-size: 16px;
  }
  
  .post span {
    display: block;
    margin-top: 10px;
    color: #FFA500; /* Food Stand Awning */
  }